---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import CallToAction from "../components/CallToAction.astro";
---

<BaseLayout title="À propos | Manu Andriamihaja" description="À propos Manu Andriamihaja">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos de moi"
				tagline="Découvrez mon parcours, mes compétences et mon cursus scolaire."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Qui suis-je ?</h2>
				<div class="content">
					<p>
						Je m’appelle Manu Andriamihaja, je suis en ce moment en deuxième année de BUT Informatique à l’IUT de Montpellier-Sète, spécialité Intégration d’Applications et Management du Système d’Information.

					</p>
					<p>
						Depuis toujours, je porte un grand intérêt à l'informatique, mais c'est au cours de mon stage de 3ème dans un complexe informatique de l'entreprise Orange SA que j'ai réellement plongé dans l'univers de l'informatique, en explorant notamment la programmation en Python et l'installation de matériel réseau.
					</p>
					<p>
						Par la suite, en seconde j’ai choisi l’option Science de l’ingénieur et en première la filière STI2D puis j’ai fini par prendre l’option SIN en terminale.
						Mon parcours actuel m’a conduit à intégrer un BUT, et je dispose de bases solides en développement web et en logiciel, ainsi qu’en bases de données et en gestion de projet.
						Je projette dans le futur de rester dans le domaine de l'informatique, car c'est un secteur d'avenir qui ne cessera pas de se développer en matière d'emplois. En ce moment, je me projette davantage dans une carrière liée au développement web/logiciel, ou une carrière dans les bases de données.
					</p>
					<p>
						Concernant mes passions, j'adore dessiner des portraits réalistes, mais je m'intéresse aussi beaucoup aux illustrations inspirées par les mangas.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p> BUT Informatique (Parcours Intégration d'applications et management du système d'information)  ~ en cours </p>
					<p>Baccalauréat sciences et technologies de l'industrie et du développement durable (Option SIN) - 2021/2022</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<ul>
						<li>Programmation : Java, C, Python</li>
						<li>Web : HTML, CSS, PHP</li>
						<li>Bases de données : SQL, PL/SQL, JDBC</li>
					</ul>
					<br>
					<CallToAction href="/portfolio-2025-2/cv/CV ~Andriamihaja Manu.pdf">Mon CV</CallToAction>

				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
